<%- include('partials/header.ejs') %>

  <% if (locals.posts) { %>
    <% for( let i = 0; i < posts.length; i++ ) { %>
      <div class="container my-5">
        <div class="row p-4 m-4 align-items-center rounded-3 border shadow-lg">
          <h2 class="display-6 fw-bold lh-1 text-body-emphasis"><%= posts[i].title %></h2>
          <p class="lead"><%= posts[i].content.substring(0, 250) %></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <form action="/view" method="post">
              <input type="hidden" name="id" value="<%= posts[i].id %>">
              <button type="submit" class="btn btn-primary px-4 me-md-2 fw-bold">View</button>
              <button type="submit" formaction="/edit" class="btn btn-outline-secondary px-4">Edit</button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>

<%- include('partials/footer.ejs') %>