<%- include('partials/header.ejs') %>

  <% if (locals.post) { %>
      <div class="container my-5">
        <div class="row p-4 m-4 align-items-center rounded-3 border shadow-lg">
          <h2 class="display-6 fw-bold lh-1 text-body-emphasis"><%= post.title %></h2>
          <p class="lead"><%= post.content %></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <form action="/" method="post">
              <input type="hidden" name="id" value="<%= post.id %>">
              <button type="submit" class="btn btn-primary px-4 me-md-2 fw-bold">Back</button>
              <button type="submit" formaction="/edit" class="btn btn-danger px-4 fw-bold">Edit</button>
            </form>
          </div>
        </div>
      </div>
  <% } %>

<%- include('partials/footer.ejs') %>